
$check-bd-color: darken($element-bd-color, 20) !default
$check-disabled-bg-color: $element-disabled-bg-color !default

.sav-check
  +make-element-default
  cursor: $element-cursor
  > input
    margin: 0
    padding: 0
    opacity: 0
    // 选中
    &:checked + .as-text::before
      background-color: $check-bd-color
    &:checked + .as-text::after
      opacity: 1
    // 获得焦点
    &:focus + .as-text::before
      -webkit-transform: scale(1.1)
      transform: scale(1.1)
    // 禁用
    &:disabled + .as-text
      color: darken($check-disabled-bg-color, 30) !important
    &:disabled + .as-text::before
      background-color: transparent !important
      border-color: darken($check-disabled-bg-color, 15) !important
    &:disabled:checked + .as-text::after
      border-left-color: darken($check-disabled-bg-color, 15) !important
      border-bottom-color: darken($check-disabled-bg-color, 15) !important
  > .as-text
    position: relative
    vertical-align: middle
    display: inline-block
    display: inline-flex
    margin: 1px 0
    &::before
      box-sizing: content-box
      content: ''
      position: absolute
      left: -1.7em
      top: -2px
      width: 1em
      height: 1em
      border: 2px solid transparent
      transition: 0.28s ease
      border-color: $check-bd-color
      border-radius: 2px
    &::after
      position: absolute
      left: -1.7em
      top: -2px
      box-sizing: content-box
      border: 3px solid transparent
      border-left-color: white
      border-bottom-color: white
      width: 1em
      height: 0.5em
      border-bottom-left-radius: 4px
      content: ''
      -webkit-transform: rotate(-52deg) scale(0.7) translateX(-1px) translateY(-1px)
      transform: rotate(-52deg) scale(0.7) translateX(-1px) translateY(-1px)
      opacity: 0
