
.sav-message
  position: fixed
  top: 10px
  left: 50%
  z-index: 10000
  display: block
  transform: translate(-50%, 0%)

  > .message-tip
    border-radius: 5px
    color: #FFFFFF
    font-size: 14px
    padding: 7px 10px 7px 10px

  > .message-default
    width: 340px
    border-radius: 3px
    padding: 10px 20px 10px 12px
    font-family: MicrosoftYaHei
    font-size: 14px
    box-sizing: border-box
    box-shadow: 0 1px 5px 0 rgba(84, 98, 105, 0.5)

    > .message-icon-close
      position: absolute
      font-size: 20px
      cursor: pointer
      right: 10px
      top: 5px

.is-success
  background: $is-success-color

.is-fail
  background: $is-error-color
  
.is-info
  background: $is-secondary-color

.is-notice
  background: $is-warn-color

.effect-enter-active
  animation: fadeEnter 1s

.effect-leave-active
  animation: fadeEnter 1s reverse

@keyframes fadeEnter
  0%
    top: 0
    opacity: 0
  100%
    top: 10px
    opacity: 1