$flip-bd-color: $element-bd-color !default
$flip-bg-color: $is-primary-color !default

.sav-pagination
  position: relative
  display: block

  &.is-small
    +make-size-sm

  &.is-large
    +make-size-lg

  &:last-child
    border-left: 1px solid $flip-bd-color

  .page-list
    +resetul
    border-top: 1px solid $flip-bd-color
    border-bottom: 1px solid $flip-bd-color
    border-right: 1px solid $flip-bd-color
    cursor: $element-cursor
    padding: 0.3em 0.7em 0.3em 0.7em
    float: left

    &:first-child, &:last-child
      border-left: 1px solid $flip-bd-color

    &:hover:not(.page-list-more)
      background: #ddd

  .page-list-more
    border: none
    text-align: center
    vertical-align: middle
    margin-top: 1px

    > span
      display: block
      line-height: 0.9em

  > .page-item
    width: 100%
    +resetul

    > .as-icon
      +make-icon-addon

    > .page-list
      &:last-child
        border-left: none

    .page-list.is-active
      background: $flip-bg-color
      color: $is-text-light-color
      border: 1px solid $flip-bg-color

  > .borderRight
    border-right: none

  > .pageBorder
    border-left: none !important

.page-cont
  position: absolute
  margin-left: 5em
  margin-top: 5em