.sav-badge
  position: relative
  display: inline-block
  line-height: 1
  vertical-align: middle
  .as-badge
    width: 42px
    height: 42px
    background: #eee
    border-radius: 6px
    display: inline-block
  .as-badge-dot 
    position: absolute
    transform: translateX(-50%)
    transform-origin: 0 center
    top: -4px
    right: -8px
    height: 8px
    width: 8px
    border-radius: 100%
    background: #ed3f14
    z-index: 10
    box-shadow: 0 0 0 1px #fff
  .as-badge-count
    position: absolute
    transform: translateX(50%)
    top: -10px
    right: 0
    height: 20px
    border-radius: 10px
    min-width: 20px
    background: #ed3f14
    border: 1px solid transparent
    color: #fff
    line-height: 18px
    text-align: center
    padding: 0 6px
    font-size: 12px
    white-space: nowrap
    transform-origin: -10% center
    z-index: 10
    box-sizing: border-box 
    box-shadow: 0 0 0 1px #fff
  