
=make-flex-modify
  &.is-left
    justify-content: flex-start
  &.is-right
    justify-content: flex-end
  &.is-center
    justify-content: center
  &.is-around
    justify-content: space-around
  &.is-between
    justify-content: space-between

=overlay($offset: 0)
  bottom: $offset
  left: $offset
  position: absolute
  right: $offset
  top: $offset