@import icons-photon

$icon-font-photon-class: 'pt'
$icon-font-photon-family: 'photon-entypo'
$icon-font-photon-file: 'photon-entypo'
$icon-font-photon-version: '0.1.2'
$icon-font-photon-path: '../fonts' !default

// 添加字库
+make-icon-font-library($icon-font-photon-class, $icon-font-photon-family, $icon-font-photon-path, $icon-font-photon-file, $icon-font-photon-version)
// 导出字体文件
+make-icons-photon
