$switch-bd-color: $element-bd-color !default
$switch-off-bg-color: $is-error-color !default
$switch-on-bg-color: $is-success-color !default
$switch-bd-radius: $element-bd-radius !default

$def-width: 35px
=make-animate($def-width)
  from
    left: 0
  to
    left: $def-width

.sav-switch
  width: 64px
  height: 34px
  border-radius: $switch-bd-radius * 50
  border: 2px solid $switch-bd-color
  box-sizing: border-box
  padding: 5px 2px 5px 2px
  background: $switch-off-bg-color
  cursor: $element-cursor
  font-size: $font-size-sm - 2

  > .roll-boll
    width: 20px
    height: 20px
    position: relative
    left: 1px
    border-radius: $switch-bd-radius * 50
    background: #FFFFFF
    display: block
    float: left

  > .sw-cont-off
    display: block
    position: absolute
    left: 37px
    margin-top: 2px
    color: $is-text-light-color

  > .sw-cont-on
    @extend .sw-cont-off
    position: relative
    left: -12px

  > .roll-boll
    width: 25px
    height: 25px
    $def-width: 41px

.sw-disabled
  background: $switch-bd-color

.sw-on
  background: $switch-on-bg-color

  > .roll-boll
    animation: roll .5s
    animation-fill-mode: forwards

@keyframes roll
  +make-animate($def-width)