<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../dist/css/sav-vui.css">
  <link rel="stylesheet" type="text/css" href="../dist/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../dist/css/photon.css">
  <style type="text/css">
    .control-panel {
      position: fixed;
      right: 5px;
      top: 5px;
      border: 1px solid gray;
    }
    .control-panel h4{
      margin: 5px;
    }
    .control-panel .cp-it label{
      display: block;
    }
    .footer {
      min-height: 400px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="control-panel">
      <div class="cp-it">
        <h4>element</h4>
        <div class="cp-body">
          <label><input type="checkbox" v-model="disabledValue" >is-disabled</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>color</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isColor" value="">defalut</label>
          <label><input type="radio" v-model="isColor" value="is-primary">is-primary</label>
          <label><input type="radio" v-model="isColor" value="is-secondary">is-secondary</label>
          <label><input type="radio" v-model="isColor" value="is-success">is-success</label>
          <label><input type="radio" v-model="isColor" value="is-warn">is-warn</label>
          <label><input type="radio" v-model="isColor" value="is-error">is-error</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>size</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isSize" value="">defalut</label>
          <label><input type="radio" v-model="isSize" value="is-small">is-small</label>
          <label><input type="radio" v-model="isSize" value="is-large">is-large</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>button</h4>
        <div class="cp-body">
          <label><input type="checkbox" v-model="loadingValue" >is-loading</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>input</h4>
        <div class="cp-body">
          <label><input type="checkbox" v-model="readonlyValue" >readonly</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>align</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isAlign" value="">defalut</label>
          <label><input type="radio" v-model="isAlign" value="is-left">is-left</label>
          <label><input type="radio" v-model="isAlign" value="is-right">is-right</label>
          <label><input type="radio" v-model="isAlign" value="is-center">is-center</label>
          <label><input type="radio" v-model="isAlign" value="is-fill">is-fill</label>
          <label><input type="radio" v-model="isAlign" value="is-around">is-around</label>
          <label><input type="radio" v-model="isAlign" value="is-between">is-between</label>
        </div>
      </div>
    </div>
    <div>
      <h4>按钮(button)</h4>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize]">Sav-Btn</button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize]"><span>Sav-Btn</span><i class="as-icon fa-plus"></i></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span><i class="as-icon fa-github"></i></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, 'is-square']"><i class="as-icon fa-plus"></i></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, 'is-circle']"><i class="as-icon fa-plus"></i></button>
    </div>
    <div>
      <h4>按钮(a)</h4>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize]">Sav-Btn</a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize]"><span>Sav-Btn</span><i class="as-icon fa-plus"></i></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span><i class="as-icon fa-github"></i></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, 'is-square']"><i class="as-icon fa-plus"></i></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, 'is-circle']"><i class="as-icon fa-plus"></i></a>
    </div>
    <div>
      <h4>css图标(icon)</h4>
      <a :class="['sav-btn', isLoading, isSize, isDisabled || (isColor + ' has-hover-open') ]"><span>caret</span><i class="as-icon is-icon-caret"></i></a>
      <a :class="['sav-btn', isLoading, isSize, isDisabled || (isColor + ' has-hover-open') ]"><span>arrow</span><i class="as-icon is-icon-arrow"></i></a>
      <a :class="['sav-btn', isLoading, isSize, isDisabled || 'has-hover-open']"><span>caret</span><i :class="['as-icon is-icon-caret', isDisabled || isColor]"></i></a>
      <a :class="['sav-btn', isLoading, isSize, isDisabled || 'has-hover-open']"><span>arrow</span><i :class="['as-icon is-icon-arrow', isDisabled || isColor]"></i></a>
      <a :class="['sav-btn', isDisabled || isColor, isLoading, isSize]"><span>right</span><i class="as-icon is-icon-right"></i></a>
      <a :class="['sav-btn', isDisabled || isColor, isLoading, isSize]"><span>close</span><i class="as-icon is-icon-close"></i></a>
      <a :class="['sav-btn', isDisabled, isLoading, isSize]"><span>right</span><i :class="['as-icon is-icon-right', isDisabled || isColor]"></i></a>
      <a :class="['sav-btn', isDisabled, isLoading, isSize]"><span>close</span><i :class="['as-icon is-icon-close', isDisabled || isColor]"></i></a>

      <button :class="['sav-btn', isDisabled || isColor, isLoading, isSize, 'is-circle']"><i class="as-icon is-icon-close"></i></button>
    </div>
    <div>
      <h4>输入框(text)</h4>
      <input :class="['sav-input', isColor, isSize]" type="text" placeholder="text" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="text" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="text" value="text"
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
    </div>
    <div>
      <h4>输入框(number)</h4>
      <input :class="['sav-input', isColor, isSize]" type="number" placeholder="number" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="number" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="number" value="123"
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
    </div>
    <div>
      <h4>单选框(radio)</h4>
      <label :class="['sav-radio', isColor, isSize]">
        <input type="radio" name="radio1" value="radio-val-1" 
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Radio</span>
      </label>
      <label :class="['sav-radio', isColor, isSize]">
        <input type="radio" name="radio1" value="radio-val-2"
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Radio</span>
      </label>
    </div>
    <div>
      <h4>复选框(check)</h4>
      <label :class="['sav-check', isColor, isSize]">
        <input type="checkbox" value="check-val-1"
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Check</span>
      </label>
      <label :class="['sav-check', isColor, isSize]">
        <input type="checkbox" value="check-val-2"
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Check</span>
      </label>
    </div>
    <div>
      <h4>弹出框(dropdown)[align]</h4>
      <div :class="['sav-flex', 'is-around']">
        <div :class="['sav-dropdown', isDropOpen, isDropAlign, isDropTop && 'is-top' ]" 
          @mouseenter="isDropDown = true" @mouseleave="isDropDown = false">
          <button :class="['sav-btn', isLoading, isSize, isDisabled || isColor]">
            <span>Vue-Custom-Events</span><i class="as-icon is-icon-caret"></i>
          </button>
          <div class="as-dropview is-drop-content">
            <div>
              Position
              <div><label><input type="radio" v-model="isDropAlign" value="is-left">is-left</label></div>
              <div><label><input type="radio" v-model="isDropAlign" value="is-right">is-right</label></div>
              <div><label><input type="radio" v-model="isDropAlign" value="is-fill">is-fill</label></div>
              <br>
              <div><label><input type="checkbox" v-model="isDropTop" >is-top</label></div>
            </div>
          </div>
        </div>
        <div :class="['sav-dropdown', isDropOpen, isDropAlign, isDropTop && 'is-top' ]"
          @mouseenter="isDropDown = true" @mouseleave="isDropDown = false">
          <button :class="['sav-btn', isLoading, isSize, isDisabled || isColor]">
            <span>select</span><i class="as-icon is-icon-caret"></i>
          </button>
          <ul class="as-dropview is-drop-select">
            <li class="as-item"><a >select-item-1</a></li>
            <li class="as-item"><a >select-item-2</a></li>
            <li class="as-item is-active">
              <a>select-item-3</a>
              <i :class="['as-icon is-icon-right', isColor]"></i>
            </li>
            <li class="as-item"><a >select-item-4</a></li>
            <li class="as-item"><a >select-item-5</a></li>
            <li class="as-item"><i :class="['as-icon fa-google', isColor]"></i><a >select-item-6</a></li>
            <li class="as-item"><i :class="['as-icon fa-github', isColor]"></i><a >select-item-7</a></li>
            <li class="as-item"><a >select-item-8</a></li>
            <li class="as-item"><a >select-item-9</a></li>
            <li class="as-item"><a >select-item-10</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h4>表格(table)</h4>
        <table :class="['sav-table', isSize]">
          <thead>
            <tr>
              <th>One</th>
              <th>Two</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Three</td>
              <td>Four</td>
            </tr>
            <tr>
              <td>Five</td>
              <td>Six</td>
            </tr>
            <tr>
              <td>Seven</td>
              <td>Eight</td>
            </tr>
            <tr>
              <td>Nine</td>
              <td>Ten</td>
            </tr>
            <tr>
              <td>Eleven</td>
              <td>Twelve</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div>
      <h4>分组(group)[size, align]</h4>
      <ul :class="['sav-group', isAlign, isColor, isSize]">
        <li class="as-item is-active"><a>Pictures</a></li>
        <li class="as-item"><a href="#test">Music</a></li>
        <li class="as-item"><a>Videos</a></li>
        <li class="as-item"><a>Documents</a></li>
      </ul>
    </div>
    <div>
      <h4>标签页(tab:group)[color]</h4>
      <div :class="['sav-group', 'sav-tab', isAlign, isColor, isSize]">
        <a class="as-item is-active"><i class="as-icon fa-picture-o"></i><span>Pictures</span></a>
        <a class="as-item" href="#test"><i class="as-icon fa-music"></i><span>Music</span></a>
        <a class="as-item" >Videos</a>
        <a class="as-item" >Images</a>
        <a class="as-item" >Documents</a>
      </div>
      <br>
      <div :class="['sav-group', 'sav-tab' ,'is-boxed', isAlign, isColor, isSize]">
        <a class="as-item"><i class="as-icon fa-picture-o"></i><span>Pictures</span></a>
        <a class="as-item is-active" href="#test"><i class="as-icon fa-music"></i><span>Music</span></a>
        <a class="as-item" >Videos</a>
        <a class="as-item" >Images</a>
        <a class="as-item" >Documents</a>
      </div>
      <br>
      <div :class="['sav-group', 'sav-tab' ,'is-toggle', isAlign, isColor, isSize]">
        <a class="as-item"><i class="as-icon fa-picture-o"></i><span>Pictures</span></a>
        <a class="as-item is-active" href="#test"><i class="as-icon fa-music"></i><span>Music</span></a>
        <a class="as-item" >Videos</a>
        <a class="as-item" >Images</a>
        <a class="as-item" >Documents</a>
      </div>
    </div>
    <div>
      <h4>布局(flex)[align]</h4>
      <div :class="['sav-flex', isAlign]">
        <button :class="['as-item', 'sav-btn', isColor, isLoading, isDisabled, isSize]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></button>
        <a :class="['as-item', 'sav-btn', isColor, isLoading, isDisabled, isSize]"><span>Sav-Btn</span><i class="as-icon fa-plus"></i></a>
        <input :class="['as-item', 'sav-input', isColor, isSize]" type="text" value="text"
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
        <label :class="['sav-radio', isColor, isSize]">
          <input type="radio" name="radio1" value="radio-val-x" 
            :disabled="disabledValue || null" />
          <span class="as-text">Sav-Radio</span>
        </label>
        <label :class="['sav-check', isColor, isSize]">
          <input type="checkbox" value="check-val-x"
            :disabled="disabledValue || null" />
          <span class="as-text">Sav-Check</span>
        </label>
      </div>
    </div>
  </div>
  <footer class="footer"></footer>
  <script type="text/javascript" src="http://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        isColor: '',
        isSize: '',
        isAlign: '',
        isDropAlign: '',
        loadingValue: false,
        disabledValue: false,
        readonlyValue: false,
        isDropTop: false,
        isDropDown: false
      },
      computed: {
        isLoading () {
          return this.loadingValue ? 'is-loading' : ''
        },
        isDisabled () {
          return this.disabledValue ? 'is-disabled' : ''
        },
        isDropOpen () {
          return this.isDropDown ? 'is-open' : ''
        }
      }
    })
  </script>
</body>
</html>
