<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../dist/css/sav-vui.css">
  <link rel="stylesheet" type="text/css" href="../dist/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../dist/css/photon.css">
  <style type="text/css">
    .control-panel {
      position: fixed;
      right: 5px;
      top: 5px;
      z-index: 99999;
      display: flex;
      border: 1px solid #d6d6d6;
      background-color: whitesmoke;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    .control-panel h4{
      margin: 5px;
    }
    .control-panel .cp-it label{
      display: block;
    }
    .footer {
      min-height: 400px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="control-panel">
      <div class="cp-it">
        <h4>element</h4>
        <div class="cp-body">
          <label><input type="checkbox" v-model="disabledValue" >is-disabled</label>
          <label><input type="checkbox" v-model="activeValue" >is-active</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>color</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isColor" value="">none</label>
          <label><input type="radio" v-model="isColor" value="is-primary">is-primary</label>
          <label><input type="radio" v-model="isColor" value="is-secondary">is-secondary</label>
          <label><input type="radio" v-model="isColor" value="is-success">is-success</label>
          <label><input type="radio" v-model="isColor" value="is-warn">is-warn</label>
          <label><input type="radio" v-model="isColor" value="is-error">is-error</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>size</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isSize" value="">none</label>
          <label><input type="radio" v-model="isSize" value="is-small">is-small</label>
          <label><input type="radio" v-model="isSize" value="is-large">is-large</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>button</h4>
        <div class="cp-body">
          <label><input type="checkbox" v-model="loadingValue" >is-loading</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>input</h4>
        <div class="cp-body">
          <label><input type="checkbox" v-model="readonlyValue" >readonly</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>align</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isAlign" value="">none</label>
          <label><input type="radio" v-model="isAlign" value="is-left">is-left</label>
          <label><input type="radio" v-model="isAlign" value="is-right">is-right</label>
          <label><input type="radio" v-model="isAlign" value="is-center">is-center</label>
          <label><input type="radio" v-model="isAlign" value="is-fill">is-fill</label>
          <label><input type="radio" v-model="isAlign" value="is-around">is-around</label>
          <label><input type="radio" v-model="isAlign" value="is-between">is-between</label>
        </div>
      </div>
      <div class="cp-it">
        <h4>form-align</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="isFormAlign" value="">none</label>
          <label><input type="radio" v-model="isFormAlign" value="is-horizontal">is-horizontal</label>
          <label><input type="radio" v-model="isFormAlign" value="is-vertical">is-vertical</label>
        </div>
      </div>

      <div class="cp-it">
        <h4>nav</h4>
        <div class="cp-body">
          <label><input type="radio" v-model="hasShadow" value="">none</label>
          <label><input type="radio" v-model="hasShadow" value="has-shadow">has-shadow</label>
        </div>
      </div>
    </div>
    <div>
      <h4>按钮(button)</h4>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]">Sav-Btn</button>
      <button :class="['sav-btn is-outline', isColor, isLoading, isDisabled, isSize, isActive]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><span>Sav-Btn</span><i class="as-icon fa-plus"></i></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span><i class="as-icon fa-github"></i></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive, 'is-square']"><i class="as-icon fa-plus"></i></button>
      <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive, 'is-circle']"><i class="as-icon fa-plus"></i></button>
    </div>
    <div>
      <h4>按钮(a)</h4>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]">Sav-Btn</a>
      <a :class="['sav-btn is-outline', isColor, isLoading, isDisabled, isSize, isActive]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><span>Sav-Btn</span><i class="as-icon fa-plus"></i></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span><i class="as-icon fa-github"></i></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive, 'is-square']"><i class="as-icon fa-plus"></i></a>
      <a :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive, 'is-circle']"><i class="as-icon pt-note"></i></a>
    </div>
    <div>
      <h4>css图标(icon)</h4>
      <a :class="['sav-btn', isActive, isLoading, isSize, isDisabled || (isColor + ' has-hover-open') ]"><span>caret</span><i class="as-icon is-icon-caret"></i></a>
      <a :class="['sav-btn is-outline', isActive, isLoading, isSize, isDisabled || (isColor + ' has-hover-open') ]"><span>arrow</span><i class="as-icon is-icon-arrow"></i></a>
      <a :class="['sav-btn', isActive, isLoading, isSize, isDisabled || 'has-hover-open']"><span>caret</span><i :class="['as-icon is-icon-caret', isDisabled || isColor]"></i></a>
      <a :class="['sav-btn', isActive, isLoading, isSize, isDisabled || 'has-hover-open']"><span>arrow</span><i :class="['as-icon is-icon-arrow', isDisabled || isColor]"></i></a>
      <a :class="['sav-btn', isDisabled || isColor, isActive, isLoading, isSize]"><span>right</span><i class="as-icon is-icon-right"></i></a>
      <a :class="['sav-btn', isDisabled || isColor, isActive, isLoading, isSize]"><span>close</span><i class="as-icon is-icon-close"></i></a>
      <a :class="['sav-btn', isDisabled, isActive, isLoading, isSize]"><span>right</span><i :class="['as-icon is-icon-right', isDisabled || isColor]"></i></a>
      <a :class="['sav-btn', isDisabled, isActive, isLoading, isSize]"><span>close</span><i :class="['as-icon is-icon-close', isDisabled || isColor]"></i></a>

      <button :class="['sav-btn', isDisabled || isColor, isActive, isLoading, isSize, 'is-circle']"><i class="as-icon is-icon-close"></i></button>
    </div>
    <div>
      <h4>输入框(text)</h4>
      <input :class="['sav-input', isColor, isSize]" type="text" placeholder="text" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="text" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="text" value="text"
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
    </div>
    <div>
      <h4>输入框(number)</h4>
      <input :class="['sav-input', isColor, isSize]" type="number" placeholder="number" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="number" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
      <input :class="['sav-input', isColor, isSize]" type="number" value="123"
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
    </div>
    <div>
      <h4>文本框(text)</h4>
      <textarea :class="['sav-text', isColor, isSize]" placeholder="textarea" 
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" ></textarea>
    </div>
    <div>
      <h4>单选框(radio)</h4>
      <label :class="['sav-radio', isColor, isSize]">
        <input type="radio" name="radio1" value="radio-val-1" 
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Radio</span>
      </label>
      <label :class="['sav-radio', isColor, isSize]">
        <input type="radio" name="radio1" value="radio-val-2"
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Radio</span>
      </label>
    </div>
    <div>
      <h4>复选框(check)</h4>
      <label :class="['sav-check', isColor, isSize]">
        <input type="checkbox" value="check-val-1"
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Check</span>
      </label>
      <label :class="['sav-check', isColor, isSize]">
        <input type="checkbox" value="check-val-2"
          :disabled="disabledValue || null" />
        <span class="as-text">Sav-Check</span>
      </label>
    </div>
    <div>
      <h4>弹出框(dropdown)[align]</h4>
      <div :class="['sav-flex-block', 'is-around']">
        <div :class="['sav-dropdown', isDropOpen, isDropAlign, isDropTop && 'is-top', isDropExpand && 'is-expand' ]" 
          @mouseenter="isDropDown = true" @mouseleave="isDropDown = false">
          <button :class="['sav-btn', isLoading, isSize, isDisabled || isColor]">
            <span>dropdown-panel</span><i class="as-icon is-icon-caret"></i>
          </button>
          <div class="as-dropview is-drop-content">
            <div>
              Position
              <div><label><input type="radio" v-model="isDropAlign" value="is-left">is-left</label></div>
              <div><label><input type="radio" v-model="isDropAlign" value="is-right">is-right</label></div>
              <div><label><input type="radio" v-model="isDropAlign" value="is-fill">is-fill</label></div>
              <br>
              <div><label><input type="checkbox" v-model="isDropTop" >is-top</label></div>
              <div><label><input type="checkbox" v-model="isDropExpand" value="is-expand">is-expand</label></div>
            </div>
          </div>
        </div>
        <div :class="['sav-dropdown', isDropOpen, isDropAlign, isDropTop && 'is-top', isDropExpand && 'is-expand' ]"
          @mouseenter="isDropDown = true" @mouseleave="isDropDown = false">
          <button :class="['sav-btn', isLoading, isSize, isDisabled || isColor]">
            <span>dropdown-select</span><i class="as-icon is-icon-caret"></i>
          </button>
          <ul class="as-dropview is-drop-select">
            <li class="as-item"><a >select-item-1</a></li>
            <li class="as-item"><a >select-item-2</a></li>
            <li class="as-item is-active">
              <a>select-item-3</a>
              <i :class="['as-icon is-icon-right', isColor]"></i>
            </li>
            <li class="as-item"><a >select-item-4</a></li>
            <li class="as-item"><a >select-item-5</a></li>
            <li class="as-item"><i :class="['as-icon fa-google', isColor]"></i><a >select-item-6</a></li>
            <li class="as-item"><i :class="['as-icon fa-github', isColor]"></i><a >select-item-7</a></li>
            <li class="as-item"><a >select-item-8</a></li>
            <li class="as-item"><a >select-item-9</a></li>
            <li class="as-item"><a >select-item-10</a></li>
          </ul>
        </div>
        <div :class="['sav-dropdown', isDropOpen, isDropAlign, isDropTop && 'is-top', isDropExpand && 'is-expand' ]"
          @mouseenter="isDropDown = true" @mouseleave="isDropDown = false">
          <input :class="['sav-input', isColor, isSize]" type="text" placeholder="dropdown-input" 
            :readonly="readonlyValue || null"
            :disabled="disabledValue || null" />
          <ul class="as-dropview is-drop-select">
            <li class="as-item"><a >select-item-1</a></li>
            <li class="as-item"><a >select-item-2</a></li>
            <li class="as-item is-active">
              <a>select-item-3</a>
              <i :class="['as-icon is-icon-right', isColor]"></i>
            </li>
            <li class="as-item"><a >select-item-4</a></li>
            <li class="as-item"><a >select-item-5</a></li>
            <li class="as-item"><i :class="['as-icon fa-google', isColor]"></i><a >select-item-6</a></li>
            <li class="as-item"><i :class="['as-icon fa-github', isColor]"></i><a >select-item-7</a></li>
            <li class="as-item"><a >select-item-8</a></li>
            <li class="as-item"><a >select-item-9</a></li>
            <li class="as-item"><a >select-item-10</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h4>表格(table)</h4>
        <table :class="['sav-table', isSize]">
          <thead>
            <tr>
              <th>One</th>
              <th>Two</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Three</td>
              <td>Four</td>
            </tr>
            <tr>
              <td>Five</td>
              <td>Six</td>
            </tr>
            <tr>
              <td>Seven</td>
              <td>Eight</td>
            </tr>
            <tr>
              <td>Nine</td>
              <td>Ten</td>
            </tr>
            <tr>
              <td>Eleven</td>
              <td>Twelve</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div>
      <h4>标签页(tab)[color]</h4>
      <div :class="['sav-tab', isAlign, isColor, isSize]">
        <a class="as-item is-active"><i class="as-icon fa-picture-o"></i><span>Pictures</span></a>
        <a class="as-item" href="#test"><i class="as-icon fa-music"></i><span>Music</span></a>
        <a class="as-item" >Videos</a>
        <a class="as-item" >Images</a>
        <a class="as-item" >Documents</a>
      </div>
      <br>
      <div :class="['sav-tab' ,'is-boxed', isAlign, isColor, isSize]">
        <a class="as-item"><i class="as-icon fa-picture-o"></i><span>Pictures</span></a>
        <a class="as-item is-active" href="#test"><i class="as-icon fa-music"></i><span>Music</span></a>
        <a class="as-item" >Videos</a>
        <a class="as-item" >Images</a>
        <a class="as-item" >Documents</a>
      </div>
      <br>
      <div :class="['sav-tab' ,'is-toggle', isAlign, isColor, isSize]">
        <a class="as-item"><i class="as-icon fa-picture-o"></i><span>Pictures</span></a>
        <a class="as-item is-active" href="#test"><i class="as-icon fa-music"></i><span>Music</span></a>
        <a class="as-item" >Videos</a>
        <a class="as-item" >Images</a>
        <a class="as-item" >Documents</a>
      </div>
    </div>
    <div>
      <h4>布局(flex-block)[align]</h4>
      <div :class="['sav-flex-block', isAlign]">
        <button :class="['as-item', 'sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></button>
        <a :class="['as-item', 'sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><span>Sav-Btn</span><i class="as-icon fa-plus"></i></a>
        <input :class="['as-item', 'sav-input', isColor, isSize]" type="text" value="text"
        :readonly="readonlyValue || null"
        :disabled="disabledValue || null" />
        <label :class="['sav-radio', isColor, isSize]">
          <input type="radio" name="radio1" value="radio-val-x" 
            :disabled="disabledValue || null" />
          <span class="as-text">Sav-Radio</span>
        </label>
        <label :class="['sav-check', isColor, isSize]">
          <input type="checkbox" value="check-val-x"
            :disabled="disabledValue || null" />
          <span class="as-text">Sav-Check</span>
        </label>
      </div>
    </div>
    <div>
      <h4>布局(flex-row)</h4>
      <div :class="['sav-flex-row']">
        <div class="flex-left">
          <button :class="['sav-btn', isColor, isLoading, isDisabled, isSize, isActive]"><i class="as-icon fa-plus"></i><span>Sav-Btn</span></button>
        </div>
        <div class="flex-center">
            <input :class="['as-item', 'sav-input', isColor, isSize]" type="text" value="text"
            :readonly="readonlyValue || null"
            :disabled="disabledValue || null" />
        </div>
        <div class="flex-right">
          <label :class="['sav-radio', isColor, isSize]">
            <input type="radio" name="radio1" value="radio-val-x" 
              :disabled="disabledValue || null" />
            <span class="as-text">Sav-Radio</span>
          </label>
          <label :class="['sav-check', isColor, isSize]">
            <input type="checkbox" value="check-val-x"
              :disabled="disabledValue || null" />
            <span class="as-text">Sav-Check</span>
          </label>
        </div>
      </div>
    </div>
    <div>
      <h4>表单(form)</h4>
      <div :class="['sav-flex-block', isAlign]">
        <form :class="['sav-form', isFormAlign, isAlign, isDisabled]" @submit.prevent="noSubmit">
          <label class="sav-field">
            <span :class="['sav-label', isSize]">用户名</span>
            <div class="field-body">
              <input :class="['sav-input', isColor, isSize]" type="text" value="username"
                :readonly="readonlyValue || null"
                :disabled="disabledValue || null" />
            </div>
          </label>
          <div class="sav-field">
            <label :class="['sav-label', isSize]">性别</label>
            <div class="field-body">
              <label :class="['sav-radio', isColor, isSize]">
                <input type="radio" value="sex-val-female" name="sex"
                  :disabled="disabledValue || null" />
                <span class="as-text">男</span>
              </label>
              <label :class="['sav-radio', isColor, isSize]">
                <input type="radio" value="sex-val-male" name="sex"
                  :disabled="disabledValue || null" />
                <span class="as-text">女</span>
              </label>
            </div>
          </div>
          <label class="sav-field">
            <span :class="['sav-label', isSize]"></span>
            <div class="field-body">
              <label :class="['sav-check', isColor, isSize]">
                <input type="checkbox" value="check-val-x"
                  :disabled="disabledValue || null" />
                <span class="as-text">记住密码</span>
              </label>
            </div>
          </label>
          <div class="sav-field">
            <label :class="['sav-label', isSize]"></label>
            <div class="field-body">
              <button :class="['field-item sav-btn', isColor, isLoading, isDisabled, isSize, isActive]">提交</button>
              <button :class="['field-item sav-btn', isDisabled, isSize, isActive]">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div>
      <h4>导航(nav)</h4>
      <div :class="['sav-flex-row', 'sav-nav', hasShadow]">
        <div class="flex-left">
          <a class="nav-item">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
          </a>
          <a :class="['nav-item is-tab', isColor]">Home</a>
          <a :class="['nav-item is-tab is-active', isColor]">Articles</a>
          <a :class="['nav-item is-tab', isColor]">About</a>
        </div>
        <div class="flex-right">
          <form :class="['sav-form nav-item', isFormAlign, isAlign, isDisabled]" @submit.prevent="noSubmit">
            <div class="sav-field is-body">
              <button :class="['field-item sav-btn', isColor, isLoading, isDisabled, isSize, isActive]">Login</button>
              <button :class="['field-item sav-btn', isDisabled, isSize, isActive]">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer"></footer>
  <script type="text/javascript" src="http://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        isColor: '',
        isSize: '',
        isAlign: '',
        isDropAlign: '',
        isFormAlign: '',
        hasShadow: 'has-shadow',
        loadingValue: false,
        disabledValue: false,
        activeValue: false,
        readonlyValue: false,
        isDropTop: false,
        isDropExpand: false,
        isDropDown: false
      },
      computed: {
        isLoading: function () {
          return this.loadingValue ? 'is-loading' : ''
        },
        isDisabled: function () {
          return this.disabledValue ? 'is-disabled' : ''
        },
        isActive: function () {
          return this.activeValue ? 'is-active' : ''
        },
        isDropOpen: function () {
          return this.isDropDown ? 'is-open' : ''
        }
      },
      methods: {
        noSubmit: function () {}
      }
    })
  </script>
</body>
</html>
