$default-color: #cccccc
.sav-textarea
  border: 1px solid $default-color
  border-radius: 0.3em
  padding: 0.6em 1em 0.6em 1em

  &:hover
    border: 1px solid #5d5d5d

  &:focus
    border: 1px solid #1aacda
    outline: none

  &::-webkit-input-placeholder
    color: $default-color